/* GLOBAL STYLES */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

/* COMMON SHARED STYLES */
.side-pad-240 {
	padding: 0 240px;
}
.btn {
	padding: 20px 43px;
	color: #fff;
	font-size: 20px;
	font-weight: 700;
	border-radius: 8px;
	background: #e55473;
	border: none;
	cursor: pointer;
	transition: all 0.4s ease;
}
.btn:hover {
	background: #d42f53;
}
.primary-color {
	color: #e55473;
}
.sub-title {
	color: #272727;
	text-align: center;
	font-size: 40px;
	font-weight: 900;
	margin-bottom: 24px;
}
.sub-description {
	color: rgba(39, 39, 39, 0.6);
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
}

/* HEADER SECTION STYLES */
.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(229, 84, 115, 0.1);
	padding-top: 50px;
}
.header-content {
	width: 50%;
}
.header-title {
	color: #272727;
	font-size: 80px;
	font-weight: 800;
	margin-bottom: 32px;
}
.header-description {
	color: rgba(39, 39, 39, 0.6);
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 32px;
	width: 630px;
}
.header-img-container {
	width: 635px;
}

/* MAIN SECTION STYLES */
.main {
	margin-top: 178px;
}

/* MAIN: FEATURED SECTION STYLES */
.featured-header {
	width: 42%;
	margin: 0 auto 48px;
}
.featured-flowers-container {
	display: flex;
	justify-content: space-between;
	margin-bottom: 128px;
	flex-wrap: wrap;
}
.featured-flower-item {
	width: 465px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.featured-flower {
	width: 100%;
	height: 100%;
	border-radius: 300px 300px 0px 0px;
	background: rgba(167, 33, 98, 0.15);
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.featured-flower-item:nth-child(2) .featured-flower {
	align-items: center;
	background: rgba(5, 151, 160, 0.15);
}
.featured-flower-item:nth-child(3) .featured-flower {
	background: rgba(71, 125, 17, 0.15);
}
.featured-flower-item h3 {
	color: #272727;
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	line-height: 35px;
	text-decoration-line: underline;
	margin-top: 32px;
}
.featured-service-container {
	width: 100%;
	border-radius: 8px;
	background: rgba(39, 39, 39, 0.05);
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 87px 175px;
	margin-bottom: 128px;
}
.featured-service-item {
	text-align: center;
}
.featured-service-item img {
	height: 88px;
	width: 88px;
	margin-bottom: 24px;
}
.featured-service-item p {
	color: rgba(39, 39, 39, 0.8);
	font-size: 24px;
	font-weight: 600;
	line-height: 35px;
}

/* MAIN: DEALS SECTION STYLES */
.deals {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 100px 420px;
	border-radius: 8px;
	background: rgba(229, 84, 115, 0.05);
	margin-bottom: 128px;
}
.deals-content {
	text-align: center;
	width: 55%;
}
.deals-content p {
	margin-bottom: 32px;
}
.deals-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* MAIN: SOCIALS SECTION STYLES */
.socials {
	margin-bottom: 128px;
}
.socials-header {
	width: 42%;
	margin: 0 auto 48px;
}
.socials-items-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

/* MAIN: BLOG SECTION STYLES */
.blogs {
	margin-bottom: 128px;
}
.blogs > h2 {
	margin: 150px 0 80px;
}
.blogs-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	flex-wrap: wrap;
}
.blogs-container > a {
	text-decoration: none;
}
.blog-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	padding: 25px 20px;
	border-radius: 20px;
	transition: all 0.5s ease;
}
.blog-item:hover {
	box-shadow: 0px 0px 20px 3px rgba(229, 84, 115, 0.4);
}
.blog-img-container {
	width: 350px;
	height: 350px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	box-shadow: 0px 0px 20px 3px rgba(243, 133, 157, 0.1);
}
.blog-img-container > img {
	width: 200%;
}
.blog-item > h3 {
	color: #272727;
	text-align: center;
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 10px;
}
.blog-item > time {
	color: rgba(39, 39, 39, 0.35);
	font-size: 15px;
	font-weight: 800;
	text-align: center;
	margin-bottom: 15px;
}
.blog-item > hr {
	width: 15%;
	border: 1px solid rgba(39, 39, 39, 0.7);
	margin-bottom: 10px;
}
.blog-item > p {
	color: rgba(39, 39, 39, 0.5);
	text-align: center;
	font-size: 16px;
	font-weight: 400;
	line-height: 23px;
}

/* MAIN: LATEST DEALS SECTION STYLES */
.latest-deals {
	margin-bottom: 128px;
}
.latest-deals-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 121px 287px;
	border-radius: 8px;
	background: url("./images/Rectangle 9.png");
	background-repeat: no-repeat;
}
.latest-deals-header h2 {
	margin-bottom: 16px;
}
.latest-deals-header p {
	margin-bottom: 48px;
}

.latest-deals-contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}
.latest-deals-contact input[type="email"] {
	padding: 22px 22px 22px 22px;
	border-radius: 8px;
	background: #fff;
	border: none;
	color: rgba(39, 39, 39, 0.6);
	font-size: 16px;
	font-weight: 400;
}
::placeholder {
	color: rgba(39, 39, 39, 0.6);
	font-size: 16px;
	font-weight: 400;
}

/* FOOTER SECTION STYLES */
footer {
	padding: 128px 650px;
	text-align: center;
	background: #111010;
}
.footer-title {
	color: #fff;
	font-size: 48px;
	font-weight: 900;
	margin-bottom: 24px;
}
.footer-description {
	color: rgba(255, 255, 255, 0.9);
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 32px;
}
.footer-copyright {
	color: rgba(255, 255, 255, 0.4);
	font-size: 16px;
	font-weight: 400;
}
